<div class="container" *ngIf="exchange">
  <h1 class="text-4xl font-bold mt-10 mb-5">Exchange Details</h1>
  <div class="bg-base-100 shadow-xl rounded-lg p-6">
    <h2 class="text-2xl font-bold mb-4">
      {{ exchange.publication.title | titlecase }}
    </h2>
    <div class="flex flex-col gap-4">
      <div class="flex gap-4">
        <div class="w-1/2">
          <h3 class="text-lg font-semibold">Autorul:</h3>
          <p>
            <span class="font-semibold">Nume: </span
            >{{ exchange.author.fullName | titlecase }}
          </p>
          <p>
            <span class="font-semibold">Email: </span
            >{{ exchange.author.email }}
          </p>
          <p>
            <span class="font-semibold">Locatie: </span
            >{{ exchange.author.location }}
          </p>
        </div>
        <div class="p-10 bg-base-200 w-fit rounded-xl">
          <h3 class="text-lg font-semibold">Beneficiarul:</h3>

          <img
            [src]="exchange.offerUser.photoUrl"
            [alt]="exchange.offerUser.fullName"
            class="bg-cover h-20 rounded-xl mb-2"
          />

          <p>
            <span class="font-semibold">Nume: </span
            >{{ exchange.offerUser.fullName | titlecase }}
          </p>
          <p>
            <span class="font-semibold">Email: </span
            >{{ exchange.offerUser.email }}
          </p>
          <p>
            <span class="font-semibold">Locatie: </span
            >{{ exchange.offerUser.location }}
          </p>
        </div>
      </div>
      <div>
        <h3 class="text-lg font-semibold">Data schimbului</h3>
        <p>{{ exchange.exchangeDate | date }}</p>
      </div>
      <div>
        <ng-container *ngIf="!alreadyRated">
          <h3 class="text-lg font-semibold">
            Ofera o recenzie lui
            {{
              authorIsWatching
                ? (exchange.offerUser.fullName | titlecase)
                : (exchange.author.fullName | titlecase)
            }}
          </h3>
          <app-rating
            [rating]="
              (authorIsWatching
                ? exchange.offerUser.rating
                : exchange.author.rating)!
            "
            (rateChange)="onRate($event)"
          ></app-rating>
        </ng-container>
      </div>
    </div>
  </div>
</div>
