<p class="p-5 bg-base-200 rounded-lg" *ngIf="!isLogged">
  Trebuie sa te loghezi pentru a putea propune oferte!
</p>

<ng-container *ngIf="isLogged">
  <p class="p-5 bg-base-200 rounded-lg" *ngIf="offers.length === 0 && isOwner">
    La moment nu sunt oferte.
  </p>

  <p class="p-5 bg-base-200 rounded-lg" *ngIf="offers.length === 0 && !isOwner">
    Nu ai depus nici o oferta pentru acest anunt!
  </p>

  <div class="max-h-96 overflow-y-auto" *ngIf="offers.length > 0">
    <div
      *ngFor="let ofer of offers"
      class="flex flex-col gap-3 p-5 bg-base-200 rounded-lg my-2"
    >
      <div class="flex flex-wrap justify-between gap-3 items-start">
        <div class="flex flex-col">
          <div class="bg-base-100 rounded-lg flex flex-col gap-5 p-5">
            <p class="font-bold text-center">{{ ofer.title | titlecase }}</p>
            <p class="text-center">{{ ofer.content | titlecase }}</p>
          </div>
          <span class="font-light text-sm mt-2">{{
            ofer.offerDate | date
          }}</span>
        </div>

        <app-user-info
          *ngIf="isOwner"
          [user]="ofer.user"
          [fullVersion]="false"
        ></app-user-info>

        <button
          class="btn btn-error"
          *ngIf="!isOwner"
          (click)="removeOffer(ofer.id)"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-6 h-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0"
            />
          </svg>
        </button>
      </div>

      <div class="bg-base-100 rounded-xl flex gap-3 p-2 w-fit">
        <figure
          class="rounded-3xl overflow-hidden hover:scale-105 transition-all duration-300 ease-in-out cursor-pointer"
          *ngFor="let photo of ofer.photos"
        >
          <img [src]="photo.url" [alt]="photo.photoId" class="bg-cover h-20" />
        </figure>
      </div>

      <button
        class="btn btn-wide btn-success"
        *ngIf="isOwner"
        (click)="acceptOffer({ offerId: ofer.id, offerUserId: ofer.userId })"
      >
        Accepta
      </button>
    </div>
  </div>

  <div class="my-5">
    <app-add-offer
      [publicationId]="publicationId"
      *ngIf="!isOwner"
    ></app-add-offer>
  </div>
</ng-container>
