<div
  class="shadow-xl h-fit bg-base-100 rounded-lg flex items-center justify-between pr-2"
  *ngIf="user"
>
  <div class="hero-content justify-start flex-col lg:flex-row">
    <img
      [src]="replaceIfAbsent(user.photoUrl)"
      class="bg-cove bg-contain bg-no-repeat h-32 rounded-xl shadow-xl"
    />

    <div
      class="flex flex-col justify-center p-5 pl-5 gap-3 bg-base-200 rounded-lg"
      *ngIf="fullVersion"
    >
      <div class="flex gap-3 items-center w-full">
        <p class="font-bold text-lg">Nume</p>
        <p class="font-semibold">{{ user.fullName | titlecase }}</p>
      </div>
      <div class="flex gap-3 items-center w-full">
        <p class="font-bold text-lg">Email</p>
        <p class="font-semibold">{{ user.email }}</p>
      </div>
      <div class="flex gap-3 items-center w-full">
        <p class="font-bold text-lg">Telefon</p>
        <p class="font-semibold">{{ user.phoneNumber }}</p>
      </div>
      <div class="flex gap-3 items-center w-full">
        <p class="font-bold text-lg">Locatie</p>
        <p class="font-semibold">{{ user.location }}</p>
      </div>
    </div>
  </div>
  <app-rating
    class="mr-10"
    [rating]="user.rating!"
    *ngIf="fullVersion"
  ></app-rating>
  <div *ngIf="!fullVersion">
    <p class="font-bold">{{ user.fullName | titlecase }}</p>
    <p class="font-semibold">{{ user.email | titlecase }}</p>
    <p class="font-semibold">{{ user.phoneNumber }}</p>
  </div>
</div>
