<div class="shadow-md m-2 rounded-lg bg-base-100 mx-auto py-3">
  <div class="navbar max-w-7xl mx-auto">
    <div class="flex-1">
      <a class="btn btn-ghost normal-case text-xl" routerLink="/home">TradeN</a>
    </div>
    <div class="flex-none" *ngIf="!(userLoggedIn$ | async)">
      <a class="btn btn-ghost" routerLink="/auth/login">Login</a>
      <a class="btn btn-ghost" routerLink="/auth/register">Register</a>
    </div>
    <div class="flex-none" *ngIf="userLoggedIn$ | async as user">
      <div class="dropdown dropdown-end">
        <label tabindex="0" class="btn btn-ghost btn-circle avatar">
          <div class="w-10 rounded-full">
            <img
              [ngSrc]="replaceIfAbsent(user.photoUrl)"
              height="200"
              width="200"
              priority
            />
          </div>
        </label>
        <ul
          tabindex="0"
          class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52"
        >
          <li>
            <a class="justify-between" routerLink="/users/profile"> Profile </a>
          </li>
          <li>
            <a class="justify-between" routerLink="/exchanges">
              My exchanges
            </a>
          </li>
          <li><a (click)="logout()">Logout</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
